<html>
  <head>
    <title> Daten hinzufügen </title>
  </head>

  <body>
    <form action="/add" method="post">
      <table>
        <tr>
          <td> Name </td>
          <td> <input type="text" name="name" /></td>
        </tr>
        <tr>
          <td> Action </td>
          <td> <input type="text" name="title" /></td>
        </tr>
        <tr>
          <td> Bild </td>
          <td> <input type="text" name="picture" /></td>
        </tr>
        <tr>
          <td> Latitude </td>
          <td> <input type="text" name="lat" /></td>
        </tr>
        <tr>
          <td> Longditude </td>
          <td> <input type="text" name="lon" /></td>
        </tr>
      </table>
      <input type="submit" />
    </form>
  </body>
</html>

